* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1512px;
  height: 155px;
  margin: 0 auto;
  padding: 0 20px;
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 48px 100px 0px 100px;
  background-color: #ffffff;
}

.logo-shop {
  display: flex;
  gap: 10px; 
}


.logo img {
  height: 60px;
}
.nav-menu {
  display: flex;
  justify-content: space-evenly;
  flex-grow: 1;
  margin: 0 32px;
  gap: 15px;
}

.nav-menu a {
  font-family: 'Josefin Sans', sans-serif;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.nav-menu a:hover {
  background-color: #55AB25;
  color: white;
  font-weight: bold;
}

/* Icon buttons */
#nav-icons {
  background: none;
  border: none;
  margin-left: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  position: relative;
}

#nav-icons i {
  color: #55AB25;
  transition: color 0.3s ease;
}

#nav-icons:hover i {
  color: #f9844a;
}

.cart-item, .user, .search {
  position: absolute;
  top: -6px;
  right: -6px;
  background-color: red;
  color: white;
  font-size: 10px;
  padding: 2px 5px;
  border-radius: 50%;
  display: none;
}